@import 'assets/css/variables';

@mixin text-base($fontWeight: 400, $font-size: 14px, $color: $text-base-color) {
  font-weight: $fontWeight;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: $font-size;
  color: $color;
}